<!-- ======= Footer ======= -->
<footer id="footer">

  <div class="footer-newsletter">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h4>Về chúng tôi</h4>
          <p>Chúng tôi mong muốn mang đến cho bạn những trải nghiệm tốt nhất.</p>
        </div>
        <div class="col-lg-6">
          <form action="" method="post">
            <input type="email" name="email"><input type="submit" value="Tìm kiếm">
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Liên kết hữu ích</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Trang chủ</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Về chúng tôi</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Dịch vụ</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Điều khoản dịch vụ</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Chính sách bảo mật</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Dịch vụ của chúng tôi</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Thiết kế Web</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Phát triển Web</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Quản lý Sản phẩm</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Thiết kế Đồ họa</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>Liên hệ</h4>
          <p>
            A108 Đường Adam <br>
            New York, NY 535022<br>
            Hoa Kỳ <br><br>
            <strong>Điện thoại:</strong> +1 5589 55488 55<br>
            <strong>Email:</strong> info@example.com<br>
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-info">
          <h3>Về Eterna</h3>
          <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
          <div class="social-links mt-3">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Bản quyền <strong><span>Eterna</span></strong>. Đã đăng ký Bản quyền
    </div>
    <div class="credits">
      <!-- Tất cả các liên kết trong chân trang nên được giữ nguyên. -->
      <!-- Bạn có thể xóa liên kết chỉ nếu bạn đã mua phiên bản Pro. -->
      <!-- Thông tin về giấy phép: https://bootstrapmade.com/license/ -->
      <!-- Mua phiên bản Pro với biểu mẫu liên hệ PHP/AJAX hoạt động: https://bootstrapmade.com/eterna-free-multipurpose-bootstrap-template/ -->
      Thiết kế bởi <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </div>
</footer><!-- End Footer -->
