
<nav id="navBar" class="navbar-white">
    <%= image_tag("logo.png", class:"logo") %>
    <ul class="nav-links">
      <li><a href="#" class="active">Home</a></li>
      <li><a href="#">Tour Trong nuoc</a></li>
      <li><a href="#">Tour nuoc ngoai</a></li>
      <li><a href="#">Service</a></li>
    </ul>
    <a href="#" class="register-btn">Register Now</a>
    <i class="fas fa-bars" onclick="togglebtn()"></i>
</nav>


<script>
  var navBar = document.getElementById("navBar");

  function togglebtn(){
    navBar.classList.toggle("hidemenu");
  }
</script>