<h1>Home client</h1>
<%= render "category" %>
<h1>Home client</h1>
<% if @tours.any? %>
  <h2>Your Tours:</h2>
  <ul>
    <% @tours.each do |tour| %>
      <li><%= tour.title %></li>
      <td><%= image_tag(tour.image, class: "image") if tour.image.attached?%> </td>
      <td><%= link_to 'Detail', static_page_path(tour.id) %></td>
    <% end %>
  </ul>
<% else %>
  <p>You haven't created any tours yet.</p>
<% end %>
