<h1>Home client</h1>
<% if @posts.any? %>
  <h2>Your Posts:</h2>
  <ul>
    <% @posts.each do |post| %>
      <li><%= post.title %></li>
      <td><%= link_to 'Detail', static_page_path(post.id) %></td>
    <% end %>
  </ul>
<% else %>
  <p>You haven't created any posts yet.</p>
<% end %>
